@{
    ViewData["Title"] = "Home Page";
}
<header>
    <link href="~/Content/bootswatch/superhero/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
</header>

<!--Search for photos-->
<div style="margin-left:20px">
    <div class="row">
        <div>
            <h2 class="page-header text-center">Find Photos</h2>
        </div>
    </div>

    <div class="row">
        <!--Search for photos by country-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div>Search By Country</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Pictures")">
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by Place-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div>Search By Place</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Pictures")">
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by Category-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tags fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div>Search By Catecory</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Pictures")">
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by description-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comment-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div>Search By Description</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Pictures")">
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Add Photos-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Add Photos</h2>
        </div>
    </div>

    <div class="row">
        <!--Add One photo at the time-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-picture-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Add One Photo at the Time</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Add Photo</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Add all photos in a folder-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-opal">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-open fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Add All Photos in a Folder</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Add Folder</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Updates-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Edit Tags</h2>
        </div>
    </div>

    <div class="row">
        <!-- Update Countries-->
       <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Edit Countries</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("_LayoutCountries", "Countries")">
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Update Places-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Edit Places</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("_LayoutPlaces", "Places")">
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Update Categories-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tags fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div>Edit Catecories</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("_LayoutCategories", "Categories")">
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>