@{
    ViewData["Title"] = "Home Page";
}
<header>
    <link href="~/Content/bootswatch/superhero/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
</header>

<!--Search for photos-->
<div style="margin-left:20px">
    <div class="row">
        <div>
            <h2 class="page-header text-center">Find Photos</h2>
        </div>
    </div>

    <div class="row">
        <!--Search for photos by country-->
        <div class="col-sm-3">
            <div class="panel panel-green">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-globe fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                                <div>Search By Country</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by Place-->
        <div class="col-sm-3">
            <div class="panel panel-red">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-home fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                                <div>Search By Place</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by Category-->
        <div class="col-sm-3">
            <div class="panel panel-yellow">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tags fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                                <div>Search By Catecory</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Search for photos by description-->
        <div class="col-sm-3">
            <div class="panel panel-blue">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comment-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                                <div>Search By Description</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Search</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Add / Edit Photos-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Add / Edit Photos</h2>
        </div>
    </div>

    <div class="row">
        <!--Add photos-->
        <div class="col-sm-3">
            <div class="panel panel-pink">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-picture-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Add Photos</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Add Photo</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Edit a photo tags-->
        <div class="col-sm-3">
            <div class="panel panel-Seagreen">
                <a href="@Url.Action("_LayoutPictures", "Pictures")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-pencil-square-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Edit a photo description</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Edit Description</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!--Updates-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Edit Tags</h2>
        </div>
    </div>

    <div class="row">
        <!-- Update Countries-->
       <div class="col-sm-3">
            <div class="panel panel-green">
                <a href="@Url.Action("_LayoutCountries", "Countries")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-globe fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Edit Countries</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Update Places-->
        <div class="col-sm-3">
            <div class="panel panel-red">
                <a href="@Url.Action("_LayoutPlaces", "Places")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-home fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Edit Places</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Update Categories-->
        <div class="col-sm-3">
            <div class="panel panel-yellow">
                <a href="@Url.Action("_LayoutCategories", "Categories")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tags fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                                <div>Edit Catecories</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--Add a subfolder name-->
        <div class="col-sm-3">
            <div class="panel panel-opal">
                <a href="@Url.Action("_LayoutFolders", "Folders")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder-open fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Edit Folder Names</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Edit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>