@model Photo.Models.Countries

<form id="CreateForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</form>

<script type="text/javascript">
    var frm = $('#CreateForm');
    frm.submit(function (ev) {
        ev.preventDefault();
        $.ajax({
            type: "POST",
            url: "_Create",
            data: frm.serialize(),
            success: function (result) {
                $('#PlaceHolderIndexTable').html(result);
            }
        });
    });
</script>