@model Photo.Models.Places

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Countries.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
