@model IEnumerable<Photo.Models.Places>

<table class="table table-fixed table-hover">
    <thead>
        <tr>
            <th class="col-sx-3 text-left">
                @Html.DisplayNameFor(model => model.Placename)
            </th>
            <th class="col-sx-3 text-left">
                @Html.DisplayNameFor(model => model.Countries.Country)
            </th>
            <th class="col-sx-6 text-left"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-3 text-left">
                    @Html.DisplayFor(modelItem => item.Placename)
                </td>
                <td class="col-xs-3 text-left">
                    @Html.DisplayFor(modelItem => item.Countries.Country)
                </td>
                <td class="col-xs-6 text-left">
                    <div class="btn-group">
                        @Ajax.ActionLink("Edit", "_Edit", "Places",
                                new { id = item.PlaceId },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "PlaceHolderEdit",
                                    OnSuccess = "changeElementText('Edit Place','#editPanalHeader')"
                                },
                                new { @class = "btn btn-primary btn-xs" }
                                )
                        @Ajax.ActionLink("Details", "_Details", "Places",
                                new { id = item.PlaceId },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "PlaceHolderEdit",
                                    OnSuccess = "changeElementText('Details of Place','#editPanalHeader')"
                                },
                                new { @class = "btn btn-primary btn-xs" }
                                )
                        @Ajax.ActionLink("Delete", "_Delete", "Places",
                                new { id = item.PlaceId },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "PlaceHolderEdit",
                                    OnSuccess = "changeElementText('Delete Place','#editPanalHeader')"
                                },
                                new { @class = "btn btn-primary btn-xs" }
                                )
                    </div>
                </td>
            </tr>
        }
    <tbody>
</table>

